<p id="notice"><%= notice %></p>

<h1>Jogos</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Titulo</th>
      <th>Genero</th>
      <th>Desenvolvedora</th>
      <th>Ano</th>
      <th>Plataforma</th>
      <th>Preco</th>
      <th>Qtdestoque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jogos.each do |jogo| %>
      <tr>
        <td><%= image_tag jogo.foto, height: '80', width: '60'%></td>
        <td><%= jogo.titulo %></td>
        <td><%= jogo.genero %></td>
        <td><%= jogo.desenvolvedora %></td>
        <td><%= jogo.ano %></td>
        <td><%= jogo.plataforma %></td>
        <td><%= jogo.preco %></td>
        <td><%= jogo.qtdEstoque %></td>
        <td><%= link_to 'Show', jogo %></td>
        <td><%= link_to 'Edit', edit_jogo_path(jogo) %></td>
        <td><%= link_to 'Destroy', jogo, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jogo', new_jogo_path %>
