<p id="notice"><%= notice %></p>

<h1>Jogos</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th colspan="2">Dados</th>
      <th>Genero</th>
      <th>Plataforma</th>
      <th>Preco</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @jogos.each do |jogo| %>
      <tr>
        <td><%= image_tag jogo.foto, height: '80', width: '60'%></td>
        <td><strong>Titulo:<br> 
        Desenvolvedora: <br>
        Ano:</strong> </td>

        <td><%= jogo.titulo %><br>
        <%= jogo.desenvolvedora %><br>
        <%= jogo.ano %></td>
        <td><%= jogo.genero %></td>
        <td><%= jogo.plataforma %></td>
        <td><%= jogo.preco %></td>
        <td><%= link_to 'Show', jogo %><br>
        <%= link_to 'Edit', edit_jogo_path(jogo) %><br>
        <%= link_to 'Destroy', jogo, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jogo', new_jogo_path %>
