<%= form_for(venda) do |f| %>
  <% if venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venda.errors.count, "error") %> prohibited this venda from being saved:</h2>

      <ul>
      <% venda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dataVenda %>
    <%= f.date_select :dataVenda %>
  </div>

  <div class="field">
    <%= f.label :cliente %>
    <%= f.collection_select :cliente_id, Cliente.all, :id, :nome %>
  </div>

  <div class="field">
    <%= f.label :jogo %>
    <%= f.collection_select :jogo_id, Jogo.all, :id, :titulo, :selected => @venda.jogo_id%>
  </div>

  <div class="field">
    <%= f.label :total %>
    <%= f.text_field :total , :value => venda.get_preco %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
