<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table>
  <thead>
    <tr>
      <th>Data da venda</th>
      <th>Jogo</th>
      <th>Cliente</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.dataVenda %></td>
        <td><%= venda.jogo.titulo if venda.jogo %></td>
        <td><%= venda.cliente.nome if venda.cliente %></td>
        <td><%= venda.jogo.try(:preco) %></td>
        <td><%= link_to '', venda , class: "glyphicon glyphicon-sunglasses" %></td>
        <td><%= link_to '', edit_venda_path(venda), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', venda, method: :delete, data: { confirm: 'Tem certeza?' }, class: "glyphicon glyphicon-erase" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venda', new_venda_path %>
