<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @venda.cliente.nome %>
</p>

<p>
  <strong>Funcionario</strong>
  <%= @venda.funcionario.nome %>
</p>

<p>
  <strong>Jogo:</strong>
  <%= @venda.jogo.titulo %>
</p>

<p>
  <strong>Data da venda:</strong>
  <%= @venda.dataVenda %>
</p>

<p>
  <strong>Total:</strong>
  <%= @venda.jogo.try(:preco) %>
</p>

<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
