<!DOCTYPE html>
<html>
  <head>
    <title>P2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>INSIRA UM MENU AQUI<H2>
  	<hr/>
  	<%= link_to 'Jogos', jogos_path %>
	<%= link_to 'Clientes', clientes_path%>
	<%= link_to 'Vendas', vendas_path %>
	<hr/>
    <%= yield %>
  </body>
</html>